.above-the-fold {
  min-height: 100vh;
  background-image: url("img/devOsan_noLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 3em;
}

.navbar-collapse hr {
  background: #e3e3e3;
  opacity: 0.3;
}

#announcement-card-link {
  text-decoration: none;
  color: black;
}

#club-info {
  background-color: #202222;
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 1.5em;
}

#contact {
  text-align: center;
  color: white;
  background-color: #202222;
}

.events-projects {
  color: white;
  background-color: #696035;
  padding-top: 3em;
  padding-bottom: 3em;
}

#events,
#projects {
  margin-top: 1em;
  text-align: center;
}

i {
  font-size: 2em;
}

.learn-faq {
  color: #202222;
  padding-top: 3em;
  padding-bottom: 3em;
}

.name-slogan {
  text-align: center;
}

h1 {
  font-size: 5em;
}

h4 {
  font-size: 1.8em;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

.vision-statement {
  /* font-size: 1.5em; */
  margin-bottom: 3em;
}

/*  */


.rightalign {
  text-align: right;
}

.wingdings-image {
  font-family: "Wingdings";
  font-size: 96px;
  color: #040;
  width: 120px;
}

.webdings-image {
  font-family: "Webdings";
  font-size: 96px;
  color: #040;
  width: 120px;
}

.info-display {
  padding-top: 16px;
}

.info-header {
  font-size: 48px;
}

.info-header-sm {
  padding-left: 12px;
}

.answer {
  margin-left: 10px;
}

div[class="question1"]{
  margin-left: 10px;
  padding-bottom: 12px;
  background-color: rgb(250,240,240);
}

div[class="question1"]>div[class="answer"]{
  margin-left: 10px;
  padding-bottom: 12px;
  background-color: rgb(240,240,220);
}

div[class="question2"]{
  margin-left: 10px;
  padding-bottom: 12px;
  background-color: rgb(240,240,240);
}

div[class="question2"]>div[class="answer"]{
  margin-left: 10px;
  padding-bottom: 12px;
  background-color: rgb(230,240,220);
}

div[class="answer"]>b{
	font-weight: normal;
	text-decoration:underline;
}