.navbar {
  z-index: +2;
}
.navbar .content {
  float: left;
  width: 60%;
  margin: 0px auto;
}
.navbar .content span {
  float: left;
}
.navbar .content .navbar-toggler {
  float: right;
}

.jumbotron {
  position: absolute;
  top: 0px;
  background: url("https://media.defense.gov/2016/May/10/2001535489/-1/-1/0/160509-F-LU738-221.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40%;
  width: 100%;
  color: #fff;
}
.jumbotron .container {
  float: left;
  margin-top: 50px;
  background: #3e3e3e;
  opacity: 0.80;
  max-width: 450px;
  text-align: center;
}

.main {
  position: absolute;
  top: 40%;
  width: 100%;
}
.main .lead {
  font-size: 20pt;
}
.main .row {
  padding: 70px 15px 70px 15px;
  margin: 0px;
}
.main .alt {
  position: absolute;
  left: 0px;
  width: 100%;
  margin: 0px;
  background: #e3e3e3;
}
